<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268312143192-4l87vn1darul7vhg9em6p8fnmcli4cl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268312143192-4l87vn1darul7vhg9em6p8fnmcli4cl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBgr4KjozRGH8Is-q1572nBZty_Ez_ueDE</string>
	<key>GCM_SENDER_ID</key>
	<string>268312143192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBackend</string>
	<key>PROJECT_ID</key>
	<string>flutter-places-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-places-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268312143192:ios:036d5170ba5b02c56c712d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-places-backend.firebaseio.com</string>
</dict>
</plist>